### IDE Settings ###
/.settings
/.project
/.classpath
#/.idea
/.idea/sonarlint/
/.idea/workspace.xml
#*.iml

### Generated ###
*/bin
*/target

### Java Classes ###
*.class

### Package Files ###
*.jar
*.war
*.ear

### Project Files ###

