<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Default meta -->
    <thymeleaf th:replace="fragments/meta :: head"></thymeleaf>

    <!-- Custom title -->
    <title th:text="#{application.title}">&nbsp;</title>
</head>

<body>

<div th:include="fragments/header :: header"></div>

<div class="container">
    <h2 th:text="#{dashboard.title}">&nbsp;</h2>

    <!--<div class="row">-->
    <!--<div class="col-md-4">-->
    <!--<div class="panel panel-default">-->
    <!--<div class="panel-heading" th:text="#{dashbard.currentorders}">&nbsp;</div>-->
    <!--<div class="panel-body">-->
    <!--<div id="gauge-current"></div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
    <!--<div class="panel panel-default">-->
    <!--<div class="panel-heading" th:text="#{dashbard.allorders}">&nbsp;</div>-->
    <!--<div class="panel-body">-->
    <!--<div id="gauge-states"></div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
    <!--<div class="panel panel-default">-->
    <!--<div class="panel-heading" th:text="#{dashbard.errors}">&nbsp;</div>-->
    <!--<div class="panel-body">-->
    <!--<div id="gauge-errors"></div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</div>

<div th:include="fragments/footer :: footer"></div>
<script type="text/javascript" th:src="@{/assets/js/dashboard.js}"></script>
<!--<script type="text/javascript" th:inline="javascript">-->
<!--var i18n = new Map();-->
<!--i18n.set('dashboard.gauge-current', [[#{dashboard.gauge-current}]]);-->
<!--i18n.set('dashboard.gauge-current-processed', [[#{dashboard.gauge-current-processed}]]);-->
<!--i18n.set('dashboard.gauge-errors', [[#{dashboard.gauge-errors}]]);-->
<!--i18n.set('dashboard.gauge-errors-occurred', [[#{dashboard.gauge-errors-occurred}]]);-->
<!--i18n.set('dashboard.gauge-states', [[#{dashboard.gauge-states}]]);-->
<!--i18n.set('dashboard.gauge-states-name', [[#{dashboard.gauge-states-name}]]);-->
<!--i18n.set('dashboard.gauge-state-open', [[#{dashboard.gauge-state-open}]]);-->
<!--i18n.set('dashboard.gauge-state-canceled', [[#{dashboard.gauge-state-canceled}]]);-->
<!--i18n.set('dashboard.gauge-state-completed', [[#{dashboard.gauge-state-completed}]]);-->
<!--init({-->
<!--urlCurrent: /*[[@{/rest/orders/current}]]*/ '',-->
<!--urlErrors: /*[[@{/rest/orders/errors}]]*/ '',-->
<!--urlStates: /*[[@{/rest/orders/states}]]*/ ''-->
<!--}, i18n);-->
<!--</script>-->

</body>
</html>