<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Default meta -->
    <thymeleaf th:replace="fragments/meta :: head"></thymeleaf>

    <!-- Custom title -->
    <title th:text="#{application.title}">&nbsp;</title>
</head>

<body>

<div th:include="fragments/header :: header"></div>

<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h2 th:text="#{map.title}">&nbsp;</h2>
                <p class="lead" th:text="#{map.text}">&nbsp;</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="embed-responsive embed-responsive-16by9">
            <div id="map" class="embed-responsive-item" style="border: 1px solid black"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row pull-right" style="padding-top: 15px">
        <a href="https://maps.google.com/"><img src="" alt="Google Maps"
                                                th:src="@{/assets/img/googlemaps_270x50.png}"/></a>
    </div>
</div>

<div th:include="fragments/footer :: footer"></div>

<script type="text/javascript" th:src="@{/assets/js/map.js}"></script>
<script type="text/javascript" async="async" defer="defer"
        src="https://maps.googleapis.com/maps/api/js?key=@google_api_key@&amp;callback=initMap"></script>

<script type="text/javascript" th:inline="javascript">
    jQuery(document).ready(function ($) {
        var i18n = new Map();
        i18n.set('map.XXX', [[#{map.XXX}]]);
        init({
            urlTemperature: /*[[@{/rest/temperature}]]*/ ''
        }, i18n);
    });
</script>

</body>
</html>